//Colors

$white:#FFFFFF;
$black:#141414;
$darkGray:#454545;
$purple:#4f4dfc;
$gray:#585858;
$lightGray:#d8d8d8;
$pink:#f44e8c;
$peach:#ff7676;
$grayBg:#f4f4f4;
@mixin font($family-type, $size: 1rem, $weight : normal, $color : $DarkBlue){
  font: {
    family: $family-type;
    size: $size;
    weight: $weight;
  }
  color: $color;
}
@mixin bg1(){
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fe7677+0,f44e8c+100 */
  background: #fe7677; /* Old browsers */
  background: -moz-linear-gradient(left, #fe7677 0%, #f44e8c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #fe7677 0%,#f44e8c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #fe7677 0%,#f44e8c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe7677', endColorstr='#f44e8c',GradientType=1 ); /* IE6-9 */
}
@mixin border() {
  position: relative;
  &:after {
    content: '';
    height: 2px;
    top: 100%;
    width: 100%;
    left: 0px;
    position: absolute;
    background: #4f4dfc; /* Old browsers */
    background: -moz-linear-gradient(left, #4f4dfc 0%, #fe7676 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #4f4dfc 0%, #fe7676 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #4f4dfc 0%, #fe7676 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f4dfc', endColorstr='#fe7676', GradientType=1); /* IE6-9 */
  }
}
  @mixin border2(){

    background: rgba(254,118,118,1);
    background: -moz-linear-gradient(top, rgba(254,118,118,1) 0%, rgba(80,77,252,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,118,118,1)), color-stop(100%, rgba(80,77,252,1)));
    background: -webkit-linear-gradient(top, rgba(254,118,118,1) 0%, rgba(80,77,252,1) 100%);
    background: -o-linear-gradient(top, rgba(254,118,118,1) 0%, rgba(80,77,252,1) 100%);
    background: -ms-linear-gradient(top, rgba(254,118,118,1) 0%, rgba(80,77,252,1) 100%);
    background: linear-gradient(to bottom, rgba(254,118,118,1) 0%, rgba(80,77,252,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe7676', endColorstr='#504dfc', GradientType=0 );


}
$font: 'Roboto', sans-serif;
